@import '../../base.scss';
$logo: '../../res/images/logo.png';
$gray: '../../res/images/gray.png';

.index {
  height: 100%;
  width: 100%;
  color: $text-color;
  @include flex-column;
  justify-content: space-between;

  .loading-text{
    position: fixed;
    /* prettier-ignore */
    right: 10PX;
     /* prettier-ignore */
    top: 5PX;
    color: #ef0505;
    font-weight: 500;
  }

  .logo {
    background: url($logo) center no-repeat;
    background-size: cover;
    /* prettier-ignore */
    width:100PX;
    /* prettier-ignore */
    height:100PX;
    /* prettier-ignore */
    opacity: 0.8;
    z-index: 5 !important;
    position: fixed;
    /* prettier-ignore */
    left:5PX;
    /* prettier-ignore */
    top:5PX;
  }
  .display {
    width: 100%;
    height: 80vh;
    background: #1e1e1f;
    @include flex-column;
    overflow: hidden;
    .image {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      transition: background-image 0.2s;
      transition-timing-function: ease-in;
      &.after {
        transition: background-image 0.2s;
        transition-timing-function: ease-in;
      }
    }
  }
  .foot {
    width: 100%;
    height: 15%;
    background: $primary-color;
    @include flex-row;
    overflow-x: scroll;
    /* prettier-ignore */
    margin-top:4PX;
    .make_up,
    .custom {
      @include flex-column;
      /* prettier-ignore */
      width: 66PX;
      /* prettier-ignore */
      height: 80PX;
      flex-shrink: 0;
      /* prettier-ignore */
      margin-left:8PX;
      &.choose {
        /* prettier-ignore */
        opacity:0.5;
      }
      .custom_item {
        width: 100%;
        /* prettier-ignore */
        height:60PX;
      }
      .null {
        background: url($gray) center no-repeat;
        background-size: cover;
        width: 100%;
        /* prettier-ignore */
        height:60PX;
        transition: background-image 0.3s;
        transition-timing-function: ease-in;
        &.make_up_item {
          transition: background-image 0.3s;
          transition-timing-function: ease-in;
        }
      }
      .text {
        background: #ad657d;
        width: 100%;
        /* prettier-ignore */
        height:20PX;
        color: white;
        text-align: center;
        /* prettier-ignore */
        line-height: 20PX;
      }
    }
  }
  .buttons {
    @include flex-row;
    justify-content: space-around;
    /* prettier-ignore */
    margin-bottom:2PX;
    width: 100%;
    height: 8%;
    .upload {
      /* prettier-ignore */
      height: 36PX;
      /* prettier-ignore */
      width:150PX;
      text-align: center;
      /* prettier-ignore */
      line-height: 36PX;
      /* prettier-ignore */
      border-radius: 5PX;
      background: $primary-color;
      color: white;
      /* prettier-ignore */
    }
    .share {
      /* prettier-ignore */
      height: 36PX;
      /* prettier-ignore */
      width:150PX;
      text-align: center;
      /* prettier-ignore */
      line-height: 36PX;
      /* prettier-ignore */
      border-radius: 5PX;
      background: $primary-color;
      color: white;
    }
  }

}
