@import '../../base.scss';
$logo: '../../res/images/logo.png';
.index {
  height: 100%;
  width: 100%;
  color: $text-color;
  @include flex-column;
  justify-content: space-between;
  .logo {
    background: url($logo) center no-repeat;
    background-size: cover;
    /* prettier-ignore */
    width:100PX;
    /* prettier-ignore */
    height:100PX;
    /* prettier-ignore */
    opacity: 0.8;
    z-index: 5 !important;
    position: fixed;
    /* prettier-ignore */
    left:5PX;
    /* prettier-ignore */
    top:5PX;
  }
  .display {
    width: 100%;
    height: 75%;
    background: #1e1e1f;
    @include flex-column;
    overflow: hidden;
    .image {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      transition: background-image 2s;
      transition-timing-function: ease-in-out;
      &.after {
        transition: background-image 2s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  .foot {
    width: 100%;
    height: 15%;
    background: $primary-color;
    @include flex-row;
    overflow-x: scroll;
    /* prettier-ignore */
    margin-top:10PX;
    .make_up,
    .custom {
      @include flex-column;
      /* prettier-ignore */
      width: 66PX;
      /* prettier-ignore */
      height: 80PX;
      flex-shrink: 0;
      /* prettier-ignore */
      margin-left:8PX;
      &.choose {
        /* prettier-ignore */
        opacity:0.5;
      }
      .make_up_item {
        width: 100%;
        /* prettier-ignore */
        height:60PX;
      }
      .text {
        background: #ad657d;
        width: 100%;
        /* prettier-ignore */
        height:20PX;
        color: white;
        text-align: center;
        /* prettier-ignore */
        line-height: 20PX;
      }
    }
  }
  .buttons {
    @include flex-row;
    justify-content: space-around;
    /* prettier-ignore */
    margin-bottom:10PX;
    width: 100%;
    height: 10%;
    .upload {
      /* prettier-ignore */
      height: 30PX;
      /* prettier-ignore */
      width:150PX;
      text-align: center;
      /* prettier-ignore */
      line-height: 30PX;
      /* prettier-ignore */
      border-radius: 5PX;
      background: $primary-color;
      color: white;
      /* prettier-ignore */
    }
    .share {
      /* prettier-ignore */
      height: 30PX;
      /* prettier-ignore */
      width:150PX;
      text-align: center;
      /* prettier-ignore */
      line-height: 30PX;
      /* prettier-ignore */
      border-radius: 5PX;
      background: $primary-color;
      color: white;
    }
  }
  .copyright {
    color: $text-color;
    opacity: 0.5;
    /* prettier-ignore */
    font-size: 10PX;
    position: fixed;
    /* prettier-ignore */
    bottom:1PX;
  }
}
