@import '../../base.scss';
$logo: '../../res/images/logo.png';
$button: '../../res/images/button.png';

.index {
  height: 100%;
  width: 100%;
  color: $text-color;
  @include flex-column;
  .logo {
    background: url($logo) center no-repeat;
    background-size: cover;
    /* prettier-ignore */
    width:140PX;
    /* prettier-ignore */
    height:140PX;
    /* prettier-ignore */
    opacity: 0.5;
    z-index: 5 !important;
    position: fixed;
    /* prettier-ignore */
    left:5PX;
  }
  .image_example {
    position: fixed;
    top: 0;
    left: 0;
    /* prettier-ignore */
    width:100%;
    /* prettier-ignore */
    height: 350PX;
    overflow: hidden;
  }
  .change {
    /* prettier-ignore */
    width:35PX;
    /* prettier-ignore */
    height:35PX;
    background: url($button) center no-repeat;
    background-size: cover;
    position: fixed;
    /* prettier-ignore */
    right:5PX;
    /* prettier-ignore */
    top:310PX;
    color: $primary-color;
    /* prettier-ignore */
    font-size: 20PX;
    text-align: center;
    /* prettier-ignore */
    line-height: 35PX;
    /* prettier-ignore */
    box-shadow:1PX 1PX 3PX 3PX rgba(98, 101, 103, 0.2);
  }
}
