@import '../../base.scss';
$logo: '../../res/images/logo.png';
$button: '../../res/images/button.png';

.index {
  height: 100%;
  width: 100%;
  color: $text-color;
  @include flex-column;
  justify-content: space-between;
  .logo {
    background: url($logo) center no-repeat;
    background-size: cover;
    /* prettier-ignore */
    width:140PX;
    /* prettier-ignore */
    height:140PX;
    /* prettier-ignore */
    opacity: 0.5;
    z-index: 5 !important;
    position: fixed;
    /* prettier-ignore */
    left:5PX;
  }
  .display {
    width: 100%;
    height: 80%;
    background: #d3d4d6;
    @include flex-column;
  }
  .foot {
    width: 100%;
    height: 20%;
    background: $primary-color;
    @include flex-row;
    overflow-x: scroll;
    .make_up,.custom{
      @include flex-column;
      /* prettier-ignore */
      width: 66PX;
      /* prettier-ignore */
      height: 80PX;
      flex-shrink: 0;
      /* prettier-ignore */
      margin-left:8PX;
      .make_up_item {
        width: 100%;
        /* prettier-ignore */
        height:60PX;
      }
      .text {
        background: #ad657d;
        width: 100%;
        /* prettier-ignore */
        height:20PX;
        color: white;
        text-align: center;
        /* prettier-ignore */
        line-height: 20PX;
      }
    }
  }
  .copyright {
    color: $text-color;
    opacity: 0.5;
    /* prettier-ignore */
    font-size: 13PX;
    position: fixed;
    /* prettier-ignore */
    bottom:1PX;
  }
}
