@import '../../base.scss';

.intro {
  height: 100%;
  color: $text-color;
  @include flex-column;
  .hello {
    /* prettier-ignore */
    margin-top:20%;
    /* prettier-ignore */
    width: 15PX;
    /* prettier-ignore */
    line-height: 40PX;
  }
  .loading {
    position: fixed;
    top: 70%;
  }
  .iconfont {
    color: $primary-color;
    /* prettier-ignore */
    font-size: 15PX;
    /* prettier-ignore */
    @include flex-row;
    /* prettier-ignore */
    width: 50PX;
    /* prettier-ignore */
    .next{
      margin-left:5PX;
    }
  }
  .footImage {
    width: 100%;
    /* prettier-ignore */
    height:80PX;
    position: fixed;
    /* prettier-ignore */
    bottom:5%;
  }
  .copyright {
    // height: 0;
    color: $text-color;
    opacity: 0.5;
    /* prettier-ignore */
    font-size: 10PX;
    position: fixed;
    /* prettier-ignore */
    bottom:1PX;
  }
}
