@import '../../base.scss';

.intro {
  height: 100%;
  color: $text-color;
  @include flex-column;
  .hello {
    /* prettier-ignore */
    margin-top:10PX;
    /* prettier-ignore */
    width: 15PX;
    /* prettier-ignore */
    line-height: 30PX;
    font-family: '';
  }
  .loading {
    position: fixed;
    top: 50%;
  }
  .iconfont {
    color: $primary-color;
    /* prettier-ignore */
    font-size: 15PX;
    /* prettier-ignore */
    @include flex-row;
    /* prettier-ignore */
    width: 50PX;
    /* prettier-ignore */
    Text{
      margin-left:5PX;
    }
  }
  .footImage {
    width: 100%;
    /* prettier-ignore */
    height:80PX;
    margin-bottom: 0;
  }
}
